body
{
	margin:0;
}

*
{
	box-sizing: border-box;
}

.hello
{
	margin-top: 5%
}

.outerbox{
	background: black;
	color: white;
}

h2
{
	margin-bottom: 5%!important;
	font-size:1.5em!important;
	text-align: center;
	margin-top: 2%!important;
}

h4
{
	text-align:center;
	color:white;
	margin-bottom:1%!important;
	margin-top: 1%!important;
}

.row
{
	margin-right: 0px;
}