*
{
	box-sizing: border-box;
}

body
{
	margin:0px;
}

.heading
{
text-align: center;
margin-bottom: 5%;
margin-top: 4%;
}

.threeboxes
{
margin-left: 3%;
margin-right: 3%;
text-align: center;
}
.box
{
	background:#c1c1c1;
	
	font-size: 0.9em;
	display: inline-block;
	padding: 30px 20px;
	padding-right: 0px;
	padding-top: 0px;
	border: 1.5px solid black;
}
.box3
{
	margin-right: 0%;
}
.box_header
{
	float:right;
	background: red;
	padding: 4px 30px;
	margin-bottom:5px;
	border-left: 1.5px solid black;
	border-bottom: 1.5px solid black;
	border-top: 1px solid black;

}
.Box_text
{
clear: right;
text-align: left;	
}

.h1
{
	background:pink;
}

.h2
{
	color: white;
}

.h3
{
	background: gold;
}


@media screen and (min-width: 992px)
{
	.box1
	{
		width:30%;
		margin-right:1%;
	}

	.box2
	{
		width:30%;
		margin-right:1%;
	}

	.box3
	{
		width:30%;
	}

}


@media screen and (min-width: 768px) and (max-width: 991px)
{
	.box1
	{
		width:40%;
		margin-right:5%;
		margin-bottom: 5%;
	}

	.box2
	{
		width:40%;
	}

	.box3
	{
		width:100%;
	}

}

@media screen and (max-width: 767px)
{
	.box1
	{
		width:80%;
		margin-bottom: 5%;
	}

	.box2
	{
		width:80%;
		margin-bottom: 5%;
	}

	.box3
	{
		width:80%;
	}

}